/* CSS HEX */
$rodeo-dust: #c9b297;
$outer-space: #283030;
$roman-coffee: #796553;
$sage: #909e79;
$cactus: #596653;
$oslo-gray: #929394;
$mid-gray: #5b5c64;
$Davy-Grey: #515a55;
/* SCSS RGB */
$rodeo-dust: rgba(201, 178, 151, 1);
$outer-space: rgba(40, 48, 48, 255);
$roman-coffee: rgba(121, 101, 83, 1);
$sage: rgba(144, 158, 121, 1);
$cactus: rgba(89, 102, 83, 1);
$oslo-gray: rgba(146, 147, 148, 1);
$mid-gray: rgba(91, 92, 100, 1);
$Davy-Grey: rgba(81, 90, 85, 255);
